#chart {
    height: 100vh;
    position: relative;
}

main {
    position: relative;
}

main.welcome:before {
    content: '';
    position: absolute;
    opacity: 0.2;
    top: -1rem;
    display: block;
    width: 100%;
    height: 32rem;
    max-height: 70vh;
    background:linear-gradient(
        to bottom,
        #191d21,
        rgba(0,0,0, 0),
        #191d21
      ), url('/img/welcome.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

img.group_logo {
    float: left;
    width: 4rem;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}

.nopadding {
    padding: 0;
}

#logos a {
    display: inline-block;
    line-height: 5rem;
    margin: 1rem;
}

#logos img {
    width: 3rem;
}

#chart {
    height: 70vh;
    position: relative;
}

div.alert a,
p > a {
    text-decoration: underline;
}

th.line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

span.bar {
    display: block;
    height: 1.5rem;
    float: left;
    text-align: center;
    line-height: 1.5rem;
    color: white;
    font-size: 0.8rem;
}

.btn-mw {
    color: white;
    text-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
}

.card-img-top {
    height: 10rem;
    object-fit: cover;
}

.nav-pills .nav-link.active {
    background-color: gray;
}